@charset "UTF-8";
body { margin: 0 auto; background-color: grey; }

.container { padding: 30px; text-align: center; }

/* Klasa zmieniająca wygląd 3 buttonów(papier,kamień, nożyce) */
button { width: 300px; height: 100px; font-size: 25px; color: #c23616; font-weight: bold; border-radius: 5%; border: 3px solid #c23616; margin: 15px; background-size: contain; background-repeat: no-repeat; cursor: pointer; /* Identyfikatory poszczególnych 3 buttonów mające na celu zmianę obrazków w tle */ }

button:hover { color: #44bd32; border: 3px solid green; background-color: #D6D6D6; }

button #buttonPaper { background-image: url("https://cdn0.iconfinder.com/data/icons/rock-paper-scissors-emoji/792/rock-paper-scissors-emoji-cartoon-019-512.png"); }

button #buttonRock { background-image: url("https://cdn0.iconfinder.com/data/icons/rock-paper-scissors-emoji/792/rock-paper-scissors-emoji-cartoon-007-512.png"); }

button #buttonScissors { background-image: url("https://cdn0.iconfinder.com/data/icons/rock-paper-scissors-emoji/792/rock-paper-scissors-emoji-cartoon-009-512.png"); }

button #buttonPaper:hover { background-image: url("https://cdn0.iconfinder.com/data/icons/rock-paper-scissors-emoji/792/rock-paper-scissors-emoji-cartoon-006-512.png"); }

button #buttonRock:hover { background-image: url("https://cdn0.iconfinder.com/data/icons/rock-paper-scissors-emoji/792/rock-paper-scissors-emoji-cartoon-027-512.png"); }

button #buttonScissors:hover { background-image: url("https://cdn0.iconfinder.com/data/icons/rock-paper-scissors-emoji/792/rock-paper-scissors-emoji-cartoon-014-512.png"); }

/* Zmiana wyglądu tablicy z wynikami */
.board { border: 3px dotted #353b48; border-radius: 5px; text-align: center; padding: 20px; font-size: 35px; color: #353b48; width: 18%; margin: 20px auto; font-weight: bold; }

.board .score { font-size: 30px; font-weight: normal; color: #dcdde1; }

.board #user { float: left; }

.board #computer { float: right; }

.board #draw-score { color: #353b48; font-size: 35px; font-weight: bold; }

/* Przycisk obsługujący NewGame */
.newgame { color: #0c2461; border-color: #0c2461; }

/* Wygląd tekstu wyświetlanego z ilością rund do wygrania*/
#round { font-size: 25px; }

/*Wyniki końcowe wyświetlane nad trzema buttonami */
#winningResult { color: green; }

#lostResult { color: #c23616; }

.overlay { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); }

.overlay.show { display: block; }

.modal { display: none; background: #fff; position: absolute; top: 50%; left: 50%; transform: translate3d(-50%, -50%, 0); padding: 10px; border-radius: 5px; }

.modal.show { display: block; }

.modal .close { position: absolute; right: 0; top: 0; padding: 5px; color: #000; text-decoration: none; }

.modal header { font-size: 20px; line-height: 30px; min-height: 30px; font-weight: bold; padding: 0 20px; }

.modal .content { min-height: 30px; padding: 5px 30px; }

.modal .content p { font-size: 15px; font-weight: bold; }
